.canvas {
  position: fixed !important;
  top: 0;
}
.canvasMain {
  z-index: 3;
}
.stats {
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
